
.side_bar{
    height: 1010px;
    max-width: 299px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
.logos {
    display: flex;
    flex-direction: column;
    width: 251px;
    height: 127px;
    align-items: center;
    justify-content: center;

}
.napne_logo {
    width: 70px;
    height: 54px;
    margin-bottom: 20px;
}
.napne_logoGrande {
    width: 150px;
    height: 50px;
}
.novo_pei {
    color: white;
    margin-top: 20px;
    width: 251px;
    height: 44px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 4px;
    background-color: rgba(62, 140, 58, 1);
}
.menu {
    width: 251px;
    height: 302px;
}
.menu > p {
    color: rgba(100, 116, 139, 1);
    font-size: 16px;
    width: 251px;
    height: 22px; 
}
#Painel {
    background-color: rgba(231, 234, 238, 1);
}
.Conteudo_menu {
    width: 251px;
    height: 48px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    font-weight: 600;
    color: rgba(25, 29, 35, 1);
}
.division {
    border-bottom: 1px solid rgba(208, 213, 221, 1);
    width: 251px;
}
.Perfil {
    width: 251px;
    height: 86px;
    display: flex;
    justify-content: start;
    flex-direction: column;
    margin-bottom: 50px;
}
.Perfil > p {
    color: rgba(100, 116, 139, 1);
}
.funçao {
    color: rgba(100, 116, 139, 1);
}
.Perfil > div {
    display: flex;
    align-items: center;
    width: 251px;
    height: 48px;
}
.Perfil > div > img {
    height: 40px;
    width: 42px;
    margin-right: 10px;
    border-radius: 100%;
    background-color:  rgba(62, 140, 58, 1);
}
.logout {
    width: 251px;
    height: 36px;
    background-color: rgba(247, 248, 249, 1);
    border-radius: 4px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.logout > img {
    height: 20px;
    width: 20px;
    margin-right: 5px;
}